* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #d2a8a835;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    border: 2px solid #ffffff59;
    background: #000;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.circle1 {
    position: absolute;
    top: 5%;
    left: 30%;
    background-image: linear-gradient(-25deg, #d84869, #f46641);
    box-shadow: 0 0 50px #d84869;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    animation: mycircle1 15s infinite;
}

@keyframes mycircle1 {
    50% {
        left: 32%;
        top: 4%;
        scale: 1.11;
    }
}

.circle2 {
    position: absolute;
    bottom: 5%;
    right: 30%;
    background-image: linear-gradient(-25deg, #5648d8, #8641f4);
    box-shadow: 0 0 50px #5648d8;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    animation: mycircle2 15s infinite;
}

@keyframes mycircle2 {
    50% {
        right: 32%;
        bottom: 6%;
        scale: 1.11;
    }
}


.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    /* width: 20vw; */
    align-items: center;
    background: #ffffff1a;
    border: 2px solid #ffffff30;
    border-radius: 15px;
    color: #ffffff;
    padding: 20px 50px;
    backdrop-filter: blur(15px);
}

.userimg {
    border: 2px solid #ffffff30;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    color: white;
    text-align: center;
}

.designation {
    color: #ffffff85;
    text-align: center;
}

.bottom-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn-card {
    text-transform: capitalize;
    width: 150px;
    padding: 9px 12px;
    background-color: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    transition: all 05s;
}

.btn-card:hover {
    background: #ffffffb9;
    color: #131313;
}

.btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}


.btn-follow {

    width: 150px;
}
a{
    text-decoration: none;
    color: #ffffffb9;
}

.model {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 24px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.modal-header {
    display: flex;
    margin-bottom: 25px;
    /* flex-direction: row; */
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff88;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.5s;
    
}
.icon i{
    font-size: 27px;
}

#facebook {
    color: #1877F2;
    border: 1px solid #1877F2;
}

#facebook:hover {
    background-color: #1877F2;
    color: #fff;
    box-shadow: 6px 6px 50px #1877F2;
}

#twitter {
    color: #1877F2;
    border: 1px solid #1877F2;
}

#twitter:hover {
    background-color: #1877F2;
    color: #fff;
    box-shadow: 6px 6px 50px #eeeff0;
}

#instagram {
    color: #E1306C;
    border: 1px solid #E1306C;
}

#instagram:hover {
    background-color: #E1306C;
    color: #fff;
    box-shadow: 6px 6px 50px #E1306C;
}

#whatapp {
    color: #2fe664;
    border: 1px solid #2fe664;
}

#whatapp:hover {
    background-color: #2fe664;
    color: #fff;
    box-shadow: 6px 6px 50px #2fe664;
}

#telegram {
    color: #0081c2;
    border: 1px solid #0081c2;
}

#telegram:hover {
    background-color: #0081c2;
    color: #fff;    
    box-shadow: 6px 6px 50px #0081c2;
}

.active {
    scale: 1;
}

.overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.overlayactive {
    opacity: 1;
    pointer-events: initial;

}

@media(max-width:850px) {
    .card-wrapper {
        max-width: 250px;
        width: 300px;
    }

    .bottom-group {
        flex-direction: column;
    }

    .model {
        width: 70vw;
    }
}

@media(max-width:400px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-wrapper {
        position: static;
        top: 0;
        left: 0;
        translate: 0 0;
        margin: 0 12px;
        padding: 0 10px;
    }

    .card-wrapper div img {
        width: 146px;
        height: 156px;
    }

    .user-name h2 {
        font-size: 1, 3rem;
    }

    .model {
        width: 80vw;
    }
}